## Data Wrangling

In [1]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 2.9 MB/s eta 0:00:011
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 4.7 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
Note: you may need to restart the kernel to use updated packages.

In [7]:
%ls datasets

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          mic.xlsx

In [16]:
import pandas as pd
df = pd.read_excel('datasets/Canada.xlsx',
                   engine = 'openpyxl',
                  sheet_name = 'Canada by Citizenship',
                  skiprows = range(20))
df.columns

Index([       'Type',    'Coverage',      'OdName',        'AREA',
          'AreaName',         'REG',     'RegName',         'DEV',
           'DevName',          1980,          1981,          1982,
                1983,          1984,          1985,          1986,
                1987,          1988,          1989,          1990,
                1991,          1992,          1993,          1994,
                1995,          1996,          1997,          1998,
                1999,          2000,          2001,          2002,
                2003,          2004,          2005,          2006,
                2007,          2008,          2009,          2010,
                2011,          2012,          2013, 'Unnamed: 43',
       'Unnamed: 44', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50'],
      dtype='object')

In [17]:
df.drop(['Type','Coverage','REG','DEV', 'Unnamed: 43','Unnamed: 44',
         'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
         'Unnamed: 49', 'Unnamed: 50'],
        axis = 1,
        inplace = True
       )

In [18]:
df.columns

Index([  'OdName',     'AREA', 'AreaName',  'RegName',  'DevName',       1980,
             1981,       1982,       1983,       1984,       1985,       1986,
             1987,       1988,       1989,       1990,       1991,       1992,
             1993,       1994,       1995,       1996,       1997,       1998,
             1999,       2000,       2001,       2002,       2003,       2004,
             2005,       2006,       2007,       2008,       2009,       2010,
             2011,       2012,       2013],
      dtype='object')

In [20]:
df.rename(columns = {'OdName':'Country',
                     'AreaName':'Continent',
                     'RegName':'Region'},
          inplace = True)
df.columns

Index([  'Country',      'AREA', 'Continent',    'Region',   'DevName',
              1980,        1981,        1982,        1983,        1984,
              1985,        1986,        1987,        1988,        1989,
              1990,        1991,        1992,        1993,        1994,
              1995,        1996,        1997,        1998,        1999,
              2000,        2001,        2002,        2003,        2004,
              2005,        2006,        2007,        2008,        2009,
              2010,        2011,        2012,        2013],
      dtype='object')

In [32]:
df['Total'] = df.iloc[:,5:39].sum(axis=1)
df.head(2)

,Country,AREA,Continent,Region,DevName,1980,1981,1982,1983,1984,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,935.0,Asia,Southern Asia,Developing regions,16.0,39.0,39.0,47.0,71.0,...,3436.0,3009.0,2652.0,2111.0,1746.0,1758.0,2203.0,2635.0,2004.0,58639.0
1,Albania,908.0,Europe,Southern Europe,Developed regions,1.0,0.0,0.0,0.0,0.0,...,1223.0,856.0,702.0,560.0,716.0,561.0,539.0,620.0,603.0,15699.0

In [34]:
df.columns = list(map(str,df.columns))
df.columns

Index(['Country', 'AREA', 'Continent', 'Region', 'DevName', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', 'Total'],
      dtype='object')

In [35]:
x = df.iloc[0:1,5:39]
x

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,16.0,39.0,39.0,47.0,71.0,340.0,496.0,741.0,828.0,1076.0,...,2978.0,3436.0,3009.0,2652.0,2111.0,1746.0,1758.0,2203.0,2635.0,2004.0